# Module 3 Project - Whisky Sommelier
# Data Cleaning
By: **Maura Cerow**, **Rajeev Panwar** and **Bryan Santos**

This project aims to build the first module of a comprehensive whisky recommendation engine, an **automated whisky sommelier**. We would like this to act as a go-to "middle-man" between distributors, bars and consumers.

This notebook in particular handles the data cealining of our dataset of more than 2,800 various whisky bottle observations. The source is https://www.distiller.com. The raw data we gathered from web scraping are still "dirty" with unwanted characters. In addition, we still need to extract the values that we need from whole strings.

## Dataset

**Target** - 
- Whisky's country of origin: 
    - Scotland
    - Japan
    - USA
    - Canada
    - Ireland

**Features**
- Type (whether it is Single Malt, Blended, Rye, etc.)
- Price (ranging from 1 to 5 with 5 being the most expensive):
    - *1: < USD25*
    - *2: USD25 to USD50*
    - *3: USD50 to USD80*
    - *4: USD80 to USD150*
    - *5  > USD150*
- Expert Score (critic score):
    - 0-49: Very poor quality
    - 50-59: Poor quality
    - 60-69: Below average
    - 70-79: Average
    - 80-84: Good
    - 85-89: Great
    - 90-95: Very High Quality
    - 96-100: Incredibly High Quality
- User Rating (distiller.com user reviews, from 0 to 5 stars)
- Age
- ABV (Alcohol By Volume)
- Description
- Style (ingredients)
- Maturing/Cask (whether matured in Oak, Sherry, etc.)
- Flavor Profiles (each having intensity scores ranging from 0 to 100):
    - *Smoky*
    - *Peaty*
    - *Spicy*
    - *Herbal*
    - *Oily*
    - *Full-Bodied*
    - *Rich*
    - *Sweet*
    - *Briny*
    - *Salty*
    - *Vanilla*
    - *Tart*
    - *Fruity*
    - *Floral*

## Package Imports and Data Load

Only the basic packages are needed for data cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
### Read the csv derived from webscraping ###
df = pd.read_csv("whisky_df.csv")

In [3]:
df.head(5)

,Unnamed: 0,name,type,price,expert_score,user_rating,distillery_loc,description,age,abv,...,oily,full-bodied,rich,sweet,briny,salty,vanilla,tart,fruity,floral
0,0,\nHibiki 21 Year\n,Blended,"['cost-5', 'spirit-cost']",99,4.52,\nSuntory // Japan\n,Hibiki is the blended whisky brand produced by...,21 Year,43.00,...,20,80,80,85,0,15,20,25,85,50
1,1,\nHighland Park 18 Year\n,Peated Single Malt,"['cost-4', 'spirit-cost']",99,4.49,"\nHighland Park // Islands, Scotland\n",Shudder to think that Highland Park 18 has onl...,18 Year,43.00,...,40,70,80,70,20,40,50,50,70,20
2,2,\nGeorge T. Stagg Bourbon (Fall 2019)\n,Bourbon,"['cost-4', 'spirit-cost']",98,4.59,"\nGeorge T. Stagg // Kentucky, USA\n",George T. Stagg Bourbon (Fall 2019) is an uncu...,NAS,58.45,...,20,60,60,45,0,0,60,60,45,0
3,3,\nBowmore Mizunara Cask Finish\n,Peated Single Malt,"['cost-5', 'spirit-cost']",98,4.19,"\nBowmore // Islay, Scotland\n",This is the first-ever official Islay single m...,NAS,53.90,...,10,75,75,60,15,20,30,20,50,5
4,4,\nThe Macallan M\n,Single Malt,"['cost-5', 'spirit-cost']",98,4.19,"\nThe Macallan // Highlands, Scotland\n",A 6-litre Lalique decanter of this single malt...,NAS,47.70,...,15,90,100,50,0,0,20,20,80,10

## Data Cleaning Proper

Remove unneccessary column

In [4]:
### Remove column Unnamed: 0 which is not usable ###
df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [5]:
### Validate result ###
df.head(5)

,name,type,price,expert_score,user_rating,distillery_loc,description,age,abv,style,...,oily,full-bodied,rich,sweet,briny,salty,vanilla,tart,fruity,floral
0,\nHibiki 21 Year\n,Blended,"['cost-5', 'spirit-cost']",99,4.52,\nSuntory // Japan\n,Hibiki is the blended whisky brand produced by...,21 Year,43.00,Comprised of both single malt(s) and single gr...,...,20,80,80,85,0,15,20,25,85,50
1,\nHighland Park 18 Year\n,Peated Single Malt,"['cost-4', 'spirit-cost']",99,4.49,"\nHighland Park // Islands, Scotland\n",Shudder to think that Highland Park 18 has onl...,18 Year,43.00,100% malted barley from a single distillery. D...,...,40,70,80,70,20,40,50,50,70,20
2,\nGeorge T. Stagg Bourbon (Fall 2019)\n,Bourbon,"['cost-4', 'spirit-cost']",98,4.59,"\nGeorge T. Stagg // Kentucky, USA\n",George T. Stagg Bourbon (Fall 2019) is an uncu...,NAS,58.45,Produced anywhere in USA; Mash bill of at leas...,...,20,60,60,45,0,0,60,60,45,0
3,\nBowmore Mizunara Cask Finish\n,Peated Single Malt,"['cost-5', 'spirit-cost']",98,4.19,"\nBowmore // Islay, Scotland\n",This is the first-ever official Islay single m...,NAS,53.90,100% malted barley from a single distillery. D...,...,10,75,75,60,15,20,30,20,50,5
4,\nThe Macallan M\n,Single Malt,"['cost-5', 'spirit-cost']",98,4.19,"\nThe Macallan // Highlands, Scotland\n",A 6-litre Lalique decanter of this single malt...,NAS,47.70,Distilled in pot stills from 100% malted barle...,...,15,90,100,50,0,0,20,20,80,10

**Whisky Name**

Remove unneccesary strings (/n, \n) from name column

In [6]:
### Replace unneccessary strings with blank ###
df['name'] = df['name'].map(lambda x: x.replace("\n", ""))
df['name'] = df['name'].map(lambda x: x.replace("\r", ""))

### Validate results ###
df['name'].head(5)

0                         Hibiki 21 Year
1                  Highland Park 18 Year
2    George T. Stagg Bourbon (Fall 2019)
3           Bowmore Mizunara Cask Finish
4                         The Macallan M
Name: name, dtype: object

**Price**

Remove the unneccessary string and just extract the price range (1 to 5)

In [7]:
### Extract the price from the string ###
df['price'] = df['price'].astype(str)
df['price'] = df['price'].map(lambda x: x.strip('[]'))
df['price'] = df['price'].map(lambda x: x.lstrip("'cost-"))
df['price'] = df['price'].map(lambda x: x.rstrip("', 'spirit-cost'"))

### Validate results ###
df['price'].head()

0    5
1    4
2    4
3    5
4    5
Name: price, dtype: object

**Country of Origin**

Extract country of origin from distillery_loc column and filter the dataframe to whiskies in the Top 5 countries only. It does not make sense to bin whiskies from all of the other countries into one category because they have different flavor profiles and may skew the analysis.

Then, to set the country column as the target variable, we assigned integers from 0 to 4 to each of them.

Finally, the column distillery_loc is no longer needed once we extracted the country of origin.

In [8]:
### Go through each row and remove the distillery company and extract the country ###
for i in df['distillery_loc']:
    df['country'] = (df['distillery_loc'].str.split('//').str[1])
    df['country'].fillna(df['distillery_loc'], inplace=True)
    df['country'] = df['country'].map(lambda x: str(x).replace("\n", ""))
    df['country'] = df['country'].str.split()
    df['country'] = df['country'].str[-1]

### Validate results ###    
df['country'].value_counts()

USA            1192
Scotland       1032
Canada          175
Ireland         152
Japan           111
Australia        56
Taiwan           21
India            16
France           14
Sweden           11
England          10
Wales             7
Denmark           4
Zealand           4
Mexico            4
Netherlands       4
Israel            3
Spain             2
Italy             2
Africa            2
Belgium           2
Switzerland       2
Republic          1
Finland           1
Name: country, dtype: int64

In [9]:
### Ensure all USA entries are in all caps ###
df.loc[((df['country'] == "USa")) , 'country'] = 'USA'

In [10]:
### Filter df to only include the top 5 countries ###
df = df.loc[(df['country'] == 'Scotland') | 
            (df['country'] == 'USA') |
            (df['country'] == 'Canada') |
            (df['country'] == 'Ireland') |
            (df['country'] == 'Japan')
           ]

In [11]:
### Validate result ###
df['country'].value_counts()

USA         1192
Scotland    1032
Canada       175
Ireland      152
Japan        111
Name: country, dtype: int64

In [12]:
### Assign integer values to each country of origin ###
df.loc[((df['country'] == "Scotland")) , 'country'] = 0
df.loc[((df['country'] == "USA")) , 'country'] = 1
df.loc[((df['country'] == "Canada")) , 'country'] = 2
df.loc[((df['country'] == "Ireland")) , 'country'] = 3
df.loc[((df['country'] == "Japan")) , 'country'] = 4

In [13]:
### Validate result ###
df['country'].value_counts()

1    1192
0    1032
2     175
3     152
4     111
Name: country, dtype: int64

In [14]:
### Drop unusable column after cleaning ###
df.drop(columns=['distillery_loc'], axis=1, inplace=True)

**Age**

More than half of the feature, number of years a whisky was aged, had missing values. We checked those bottles against several whisky resources/websites but some really do not divulge that information. Furthermore, it is a variable that is not possible to impute based from the other features provided. Therefore, we have decided to drop this feature altogether.

In [15]:
### Verify age counts ###
df['age'].value_counts()

NAS               1465
12 Year            133
10 Year            102
15 Year             63
18 Year             60
                  ...
6 Years              1
8 Years              1
NASs                 1
2 years              1
6 YR 3 MO 1 DY       1
Name: age, Length: 170, dtype: int64

In [16]:
### Drop age column ###
df.drop(columns=['age'], axis=1, inplace=True)

In [17]:
### Validate result ###
df.head(5)

,name,type,price,expert_score,user_rating,description,abv,style,cask,review,...,full-bodied,rich,sweet,briny,salty,vanilla,tart,fruity,floral,country
0,Hibiki 21 Year,Blended,5,99,4.52,Hibiki is the blended whisky brand produced by...,43.00,Comprised of both single malt(s) and single gr...,"ex-bourbon American oak, ex-sherry European oa...","""Tasting this whisky was one of those moments ...",...,80,80,85,0,15,20,25,85,50,4
1,Highland Park 18 Year,Peated Single Malt,4,99,4.49,Shudder to think that Highland Park 18 has onl...,43.00,100% malted barley from a single distillery. D...,ex-sherry,"""The sweet smoke is the underlying feature in ...",...,70,80,70,20,40,50,50,70,20,0
2,George T. Stagg Bourbon (Fall 2019),Bourbon,4,98,4.59,George T. Stagg Bourbon (Fall 2019) is an uncu...,58.45,Produced anywhere in USA; Mash bill of at leas...,"new, charred American oak","""Lots of oak shows up on the nose along with c...",...,60,60,45,0,0,60,60,45,0,1
3,Bowmore Mizunara Cask Finish,Peated Single Malt,5,98,4.19,This is the first-ever official Islay single m...,53.90,100% malted barley from a single distillery. D...,"ex-bourbon, ex-sherry, new Mizunara oak","""Though the time in Mizunara oak was relativel...",...,75,75,60,15,20,30,20,50,5,0
4,The Macallan M,Single Malt,5,98,4.19,A 6-litre Lalique decanter of this single malt...,47.70,Distilled in pot stills from 100% malted barle...,sherry oak casks,"""The aroma is that pleasing bouquet that comes...",...,90,100,50,0,0,20,20,80,10,0

In [18]:
### Double check if numerical columns are indeed in float/integer format ###
df.describe()

,expert_score,user_rating,abv,smoky,peaty,spicy,herbal,oily,full-bodied,rich,sweet,briny,salty,vanilla,tart,fruity,floral,country
count,2662.000000,2587.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000
mean,86.391059,3.740035,46.892492,23.642750,23.642750,46.234786,26.001503,29.515402,54.433509,54.525545,55.984974,9.080391,10.597295,43.807288,24.030053,44.886176,22.642750,0.917355
std,5.895109,0.568795,6.344614,21.067306,21.067306,20.849168,19.498600,20.115066,18.848490,19.435724,18.721012,15.578592,15.631998,20.689415,18.656668,23.127041,20.547863,1.025019
min,40.000000,0.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,83.000000,3.420000,43.000000,10.000000,10.000000,30.000000,10.000000,15.000000,40.000000,40.000000,40.000000,0.000000,0.000000,30.000000,10.000000,25.000000,10.000000,0.000000
50%,87.000000,3.760000,46.000000,20.000000,20.000000,50.000000,20.000000,30.000000,55.000000,60.000000,60.000000,0.000000,5.000000,40.000000,20.000000,40.000000,20.000000,1.000000
75%,90.000000,4.140000,50.000000,35.000000,35.000000,60.000000,40.000000,40.000000,70.000000,70.000000,70.000000,10.000000,17.000000,60.000000,40.000000,65.000000,30.000000,1.000000
max,99.000000,5.000000,80.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,90.000000,100.000000,90.000000,100.000000,90.000000,4.000000

## Export cleaned file

In [19]:
### Save clean dataframe into a csv ###
df.to_csv('whisky_df_clean.csv', index= False)

In [20]:
df

,name,type,price,expert_score,user_rating,description,abv,style,cask,review,...,full-bodied,rich,sweet,briny,salty,vanilla,tart,fruity,floral,country
0,Hibiki 21 Year,Blended,5,99,4.52,Hibiki is the blended whisky brand produced by...,43.00,Comprised of both single malt(s) and single gr...,"ex-bourbon American oak, ex-sherry European oa...","""Tasting this whisky was one of those moments ...",...,80,80,85,0,15,20,25,85,50,4
1,Highland Park 18 Year,Peated Single Malt,4,99,4.49,Shudder to think that Highland Park 18 has onl...,43.00,100% malted barley from a single distillery. D...,ex-sherry,"""The sweet smoke is the underlying feature in ...",...,70,80,70,20,40,50,50,70,20,0
2,George T. Stagg Bourbon (Fall 2019),Bourbon,4,98,4.59,George T. Stagg Bourbon (Fall 2019) is an uncu...,58.45,Produced anywhere in USA; Mash bill of at leas...,"new, charred American oak","""Lots of oak shows up on the nose along with c...",...,60,60,45,0,0,60,60,45,0,1
3,Bowmore Mizunara Cask Finish,Peated Single Malt,5,98,4.19,This is the first-ever official Islay single m...,53.90,100% malted barley from a single distillery. D...,"ex-bourbon, ex-sherry, new Mizunara oak","""Though the time in Mizunara oak was relativel...",...,75,75,60,15,20,30,20,50,5,0
4,The Macallan M,Single Malt,5,98,4.19,A 6-litre Lalique decanter of this single malt...,47.70,Distilled in pot stills from 100% malted barle...,sherry oak casks,"""The aroma is that pleasing bouquet that comes...",...,90,100,50,0,0,20,20,80,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823,Wild Turkey Spiced,Flavored Whiskey,1,59,2.93,Wild Turkey Spiced is an 86-proof bourbon flav...,43.00,Whiskey flavored with natural or artificial fl...,"New, Charred American Oak","""For a 'spiced' bourbon, there's hardly any sp...",...,40,55,85,0,0,25,10,10,0,1
2824,Seagram's 7 Crown American Blended Whiskey,Blended American Whiskey,1,59,2.08,Originally a Canadian whisky brand until it wa...,40.00,Straight whiskey(s) must comprise at least 20%...,oak,"""At first smell, you may think this is rum ins...",...,30,0,100,0,0,100,0,60,10,1
2825,11 Wells Single Malt Whiskey,American Single Malt,3,58,3.00,This Single Malt release from 11 Wells is part...,42.00,Made in the USA from 100% malted barley. Disti...,"new, charred American oak","""Wet dog is the primary aroma on the bouquet, ...",...,10,10,90,0,0,50,20,30,10,1
2826,Immortal Spirits Early Whiskey,Other Whiskey,2,50,1.00,Distilled from barley grown in the Rogue Valle...,44.50,A spirit distilled from a mash of grain(s) at ...,"new, charred American oak","""The aroma is very simple with grain, caramel ...",...,0,0,40,0,0,20,0,0,0,1
2827,Triple Crown Blended Whiskey,Blended American Whiskey,1,40,2.35,"By law ""Blended Whiskey"" may contain more ingr...",40.00,Straight whiskey(s) must comprise at least 20%...,NaN,"""Ethanol alcohol on the nose with very subtle ...",...,30,40,100,0,0,55,0,30,10,1